@charset "UTF-8";
:root{
    --cor1: rgb(182, 153, 145);
}
.titulo{
    background: var(--cor1) url(../images/bolo-de-pote/IMG-20221230-WA0026.jpg) center 40% no-repeat;
    background-size: cover ;
}