@charset "UTF-8";
:root{
    --cor1: rgb(182, 153, 145);
}
.titulo{
    background: var(--cor1) url(../images/docinhos-tradicionais/IMG_20230107_171151.jpg) center bottom no-repeat;
    background-size: cover;
}